
// Colours
$white: #fff;
$footerBackground: #171F3F;
$blueFB: #0593fb;
$grey :rgba(24, 41, 67, 0.09);
$darkgrey: #52606d;
$darkblue: #171f3f;
$black: #000;
$lightgrey: #F5F7FA;
$middlegrey: #CBD2D9;

// Box sizing
$heroDesktop: 780px;
$heroMobile: 320px;


@mixin inBox {
  max-width: 1188px;
  margin: auto;
}

@mixin inBox2 {
    max-width: 1260px;
    margin: auto;
  }

@mixin outBox {
    max-width: 1440px;
    margin: auto;
  }

// grid


@mixin gridMobile1 {
    display: grid;
    grid-template-columns: 1fr;
}


@mixin grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@mixin grid4 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}




// Fonts

@mixin gitLink {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    align: left;
    vertical-align: Top;
    color: $blueFB;
}


@mixin listParagraph {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    align: left;
    vertical-align: Top;
    color: $darkgrey;
}

@mixin paragraph {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 36px;
    align: left;
    vertical-align: top;
}

@mixin heading1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    align: left;
    vertical-align: top;
    color: $darkblue;
}
@mixin heading2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    align: left;
    vertical-align: center; 
}

@mixin heading3 {
    margin-top: 60px;
    color: $blueFB;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    align: left;
    vertical-align: top;
}

@mixin heading4 {
    color: $darkblue;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    align: left;
    vertical-align: top;
}

@mixin heading1Mobile {
    color: $darkblue;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    align: left;
    vertical-align: top;
}
@mixin heading2Mobile {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    align: left;
    vertical-align: center; 
}

@mixin heading3Mobile {
    margin-top: 40px;
    color: $blueFB;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    align: left;
    vertical-align: top;
}

@mixin heading4Mobile {
    color: $darkblue;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    align: left;
    vertical-align: top;
}

@mixin paragraphMobile {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 26px;
    align: left;
    vertical-align: top;
}