@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  background-color: $white;
  border: none;
}

.header {
  &__heading1 {
    @include heading1Mobile;
  }
  &__heading3 {
    @include heading3Mobile;
    border-bottom: solid 2px;
    border-color: $blueFB;
    width: fit-content;
    &--frame {
      width: 300px;
    }
  }
  &__paragraph {
    @include paragraphMobile;
    color: $darkgrey;
  }
  &__link {
    color: $blueFB;
  }
}

.hero {
  width: $heroMobile;
  margin: auto;
  margin-top: 66px;
  padding: 0 4px;
  &__avatar {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    margin: 6px 0 0 6px;
    &--box {
      width: 120px;
      height: 120px;
      border: solid lightgrey 6px;
      border-radius: 100%;
    }
  }
  &__link {
    text-decoration: none;
  }
}

.skills {
  @include inBoxMobile;
  margin-top: 120px;
  &__box {
    @include gridMobile1;
    margin-bottom: 32px;
  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin-top: 24px;
    display: flex;
    flex-flow: column wrap;
    &--item {
      @include listParagraphMobile;
    }
    // check img.svg difriend colors
    &--1::before {
      vertical-align: sub;
      margin-right: 8px;
      content: url(../assets/img/check-circle.svg);
    }
    &--2::before {
      vertical-align: sub;
      margin-right: 8px;
      content: url(../assets/img/check-circle2.svg);
    }
    &--3::before {
      vertical-align: sub;
      margin-right: 8px;
      content: url(../assets/img/check-circle3.svg);
    }
  }

  &__decoline {
    grid-column: 1/3;
    width: 40px;
    border-radius: 8px;
    border: 2px solid;
    margin: 0px;
    &--1 {
      border-color: #06c847;
    }
    &--2 {
      border-color: #653cad;
    }
    &--3 {
      border-color: #2251cc;
    }
    &--box {
      @include inBoxMobile;
      @include gridMobile1;
    }
  }
  &__paragraph {
    @include heading2Mobile;
    margin-bottom: 0;
    color: $darkblue;
    &--line {
      margin-bottom: 60px;
      border-bottom: solid 2px #cbd2d9;
      font-size: 36px;
      line-height: 48px;
    }
  }
}

.projects {
  @include gridMobile1;
  margin-top: 84px;
  padding-bottom: 64px;
  background-color: $grey;
  &__box {
    @include inBoxMobile;
    @include gridMobile1;
    padding: 0;
  }
  &__github {
    @include inBoxMobile;
  }
  &__heading2 {
    @include heading2Mobile;
    grid-column: 1/2;
    color: $darkblue;
  }

  &__paragraph {
    @include paragraphMobile;
    grid-column: 1/2;
    color: $darkgrey;
  }
}

.api {
  &__code {
    vertical-align: text-bottom;
  }
  &__demo {
    vertical-align: text-bottom;
  }
  &__footer {
    @include grid2;
    height: 48px;
    justify-items: center;
    background-color: $lightgrey;
    border-radius: 0 0 24px 24px;
    &:hover {
      background-color: #e2e2e2;
    }
  }
  &__heading4 {
    @include heading4Mobile;
    margin: 16px 0 4px 0;
  }
  &__list {
    @include gridMobile1;
    row-gap: 16px;
    column-gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
    &--element {
      border-radius: 24px;
      width: 312px;
      height: 232px;
      margin: 16px auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      background-color: $grey;
      padding: 0px;

      box-shadow: 0 1.4px 1.1px rgba(0, 0, 0, 0.034), 0 3.3px 2.6px rgba(0, 0, 0, 0.048),
        0 6.3px 5px rgba(0, 0, 0, 0.06), 0 11.1px 9px rgba(0, 0, 0, 0.072), 0 21px 17px rgba(0, 0, 0, 0.086),
        0 50px 40px rgba(0, 0, 0, 0.12);
    }
  }
  &__logo {
    color: $darkblue;
    width: 40px;
    height: 40px;
  }
  &__main {
    padding: 16px 16px 16px 16px;
  }
  &__paragraph {
    @include listParagraphMobile;
    font-weight: 300;
    margin: 0;
    &--link {
      @include gitLink;
      padding-right: 10px;
      margin: 0;
    }
    &--link2 {
      @include gitLink;
      padding-left: 32px;
      padding-right: 32px;
      border-right: solid 2px $middlegrey;
    }
  }
  &__nav {
    place-self: center;
    &--list1 {
      margin: 0;
      padding-top: 8px;
      height: 48px;
      grid-column: 1/2;
      text-decoration: none;
    }
    &--list2 {
      margin: 0;
      padding-top: 8px;
      height: 48px;
      grid-column: 2/2;
      place-self: center;
      text-decoration: none;
    }
  }
}

.footer {
  padding: 0 8px;
  background-color: $footerBackground;
  &__decoline {
    width: 40px;
    border-radius: 8px;
    border: 2px solid;
    margin: 0;
    &--4 {
      border-color: $blueFB;
    }
  }
  &__box {
    @include inBoxMobile;
    @include gridMobile1;
    padding: 60px 0 60px 0;
  }
  &__heading2 {
    grid-column: 1/2;
    @include heading2Mobile;
    color: $white;
  }
  &__link {
    text-decoration: none;
    grid-column: 1/2;
  }
  &__paragraph {
    grid-column: 1/2;
    @include paragraphMobile;
    color: $white;
    &--FB {
      @include heading3Mobile;
      width: 300px;
      width: fit-content;
      color: $blueFB;
      border-bottom: solid 2px;
      border-color: $blueFB;
    }
  }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> iphone 5 /SE to iphone x resolutions  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
// *******************************************************************************************************************************************************
// *******************************************************************************************************************************************************
// *******************************************************************************************************************************************************
// *******************************************************************************************************************************************************

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> iphone X  to iPad resolutions  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
// *******************************************************************************************************************************************************
// *******************************************************************************************************************************************************
// *******************************************************************************************************************************************************
// *******************************************************************************************************************************************************

@media (min-width: 1188px) {

  body {
    @include outBox;
    background-color: $white;
    border: 16px solid #171f3f;
  }

  .main {
  }

  .header {
    &__heading1 {
      @include heading1;
    }
    &__heading3 {
      @include heading3;
      &--frame {
        width: 335px;
      }
    }
    &__paragraph {
      @include paragraph;
    }
  }

  .hero {
    width: $heroDesktop;
    margin: auto;
    margin-top: 132px;
    &__avatar {
      width: 96px;
      height: 96px;
      border-radius: 100%;
      margin: 6px 0 0 6px;
      &--box {
        width: 120px;
        height: 120px;
        border: solid lightgrey 6px;
        border-radius: 100%;
      }
    }
  }

  .skills {
    @include inBox;
    margin-top: 196px;
    &__box {
      @include flex1;
      margin-bottom: 96px;
    }
    &__list {
      @include grid3;
      padding-top: 16px;
      &--item {
        width: 260px;
        list-style: none;
        @include listParagraph;
    }
  }
    &__decoline {
      grid-column: 1/2;
      width: 80px;
      margin: 0px;
      &--box {
        @include inBox;
        @include grid2;
      }
    }
    &__paragraph {
      @include heading2;
      &--line {
        margin-bottom: 100px;
      }
    }
  }


  .api {
    &__footer {
      @include grid4;
      justify-items: center;
      height: 64px;
      border-radius: 0 0 24px 24px;
    }
    &__heading4 {
      @include heading4;
      margin: 16px 0 8px 0;
    }
    &__list {
      @include grid2;
      &--element {
        width: 564px;
        height: 300px;
      }
    }
    &__logo {
      width: 48px;
      height: 48px;
    }
    &__main {
      padding: 32px 48px 48px 48px;
    }
    &__paragraph {
      @include listParagraph;
      font-weight: 300;
      &--link {
        @include gitLink;
        padding-right: 8px;
      }
      &--link2 {
        @include gitLink;
        padding-right: 24px;
      }
    }
    &__nav {
      &--list1 {
        grid-column: 2/3;
        align-self: center;
      }
      &--list2 {
        grid-column: 3/3;
      }
    }
  }

  .projects {
    margin-top: 128px;
    padding-bottom: 128px;
    &__box {
      @include grid2;
      @include inBox;
      padding: 24px 0;
    }
    &__github {
      @include inBox;
    }
    &__heading2 {
      @include heading2;
      grid-column: 1/2;
    }
    &__paragraph {
      @include paragraph;
      grid-column: 1/2;
    }
  }

  .footer {
    &__decoline {
      width: 80px;
      margin: 0;
    }
    &__box {
      @include inBox;
      @include grid2;
      padding: 120px 0 60px 0;
    }
    &__heading2 {
      grid-column: 1/2;
      @include heading2;
    }
    &__link {
      grid-column: 1/2;
    }
    &__paragraph {
      grid-column: 1/2;
      @include paragraph;
      &--FB {
        width: 325px;
      }
    }
  }
}
