@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include sizeBody
  color: #000;
  background-color: white;
  border: 16px solid #171f3f;
}

.main {
  @include sizeXl;
}

.header {
  &__heading1 {
    font-family: Poppins;
    font-style: Semi-Bold;
    font-size: 40px;
    line-height: 56px;
    align: left;
    vertical-align: top;
    color: #171f3f;
  }
  &__heading3 {
    margin-top: 60px;
    color: $linkColorFB;
    font-family: Poppins;
    font-style: Medium;
    font-size: 20px;
    line-height: 36px;
    line-height: 120%;
    align: left;
    vertical-align: top;
  }
  &__paragraph {
    font-family: Poppins;
    font-style: Thin;
    font-size: 20px;
    line-height: 36px;
    align: left;
    vertical-align: top;
    color: #52606d;
  }
  &__link {
    color: $linkColorFB;
  }
}

.hero {
  width: 780px;
  margin: auto;
  margin-top: 132px;
  &__avatar {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    margin: 6px 0 0 6px;
    &--box {
      width: 120px;
      height: 120px;
      border: solid lightgrey 6px;
      border-radius: 100%;
    }
  }
}

.skills {
  margin-top:100px;
  width: 1188px;
  margin-top: 196px;
  &__box {
    margin-bottom: 64px;  
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
  &__deco {
    border-top: solid 6px;
    &--1 {
      border-top-color: red;
      width: 80px;
    }
    &--2 {

      border-top-color: blue;
      width: 80px;
    }
    &--3 {

      border-top-color: green;
      width: 80px;
    }
  }
  &__paragraph {
  
    &--line {
      margin-bottom:100px;
      border-bottom: solid 2px lightgrey;
    }
  }
}

.projects {
  width: 1440px;
  margin-top: 168px;
  &__box {

    border-top: solid 4px red;
  }
}

.footer {
  background-color: $footerBackground;
  width: 1408px;
  height: 562px;
  margin-top: 16px;
  &__box{
    @include sizeXl;
    padding-top: 150px;
  }
  &__deco {
    border-top: solid 6px;
    &--1 {
      border-top-color: red;
      width: 80px;
    }
  }
  &__heading2 {
    color: #fff;
    font-family: Poppins;
    font-style: SemiBold;
    font-size: 32px;
    line-height: 44px;
    align: left;
    vertical-align: top;
  }
  &__paragraph {
    color: #fff;
    &--FB {
     color: $linkColorFB;
    }
    }
}

