
@media screen and (min-width: 414px) and (max-width: 550px) {
  body {
    background-color: $white;
    border: none;
   max-width: 550px;
  }
.main {

}

  .header {
    &__heading1 {
      @include heading1MobileBig;
    }
    &__heading3 {
      @include heading3MobileBig;
      &--frame {
        width: 370px;
      }
    }
    &__paragraph {
      @include paragraphMobileBig;
      color: $darkgrey;
    }
  }

  .hero {
    width: $heroMobileBig;
    margin: auto;
    margin-top: 66px;
    padding: 0 4px;
  }

  .skills {
    @include outBoxMobileBig;
    padding-left: 16px;
    margin-top: 120px;
    &__box {
      @include flex1;
      margin-bottom: 32px;
    }
    &__list {
      @include grid3MobileBig;
      padding-top: 16px;
      padding-left: 0;
      list-style: none;
      &--item {
        @include listParagraphMobileBig;
      }
    }
    &__decoline {
      width: 40px;
      border-radius: 8px;
      &--box {
        @include outBoxMobileBig;
        @include grid2;
      }
    }
    &__paragraph {
      @include heading2MobileBig;
      margin-bottom: 0;
      color: $darkblue;
      &--line {
        margin-bottom: 60px;
      }
    }
  }

  .projects {
    @include outBoxMobileBig;
    display: flex;
    flex-flow: column wrap;
    margin-top: 84px;
    padding-bottom: 64px;
    &__box {
      @include inBoxMobileBig2;
      @include gridMobile1;
      padding-bottom: 64px;
      padding-left: 16px;
    }
    &__github {
      @include inBoxMobileBig;
    }
    &__heading2 {
      @include heading2MobileBig;
      grid-column: 1/2;
    }

    &__paragraph {
      @include paragraphMobileBig;
      grid-column: 1/2;
    }
  }

  .api {
    &__footer {
      @include grid2;

      height: 48px;
    }
    &__heading4 {
      @include heading4MobileBig;
      margin: 16px 0 8px 0;
    }
    &__list {
      @include gridMobile1;
      margin: auto;
      column-gap: 16px;
      row-gap: 32px;
      &--element {
        border-radius: 24px;
        width: 400px;
        height: 222px;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
      }
    }
    &__logo {
      width: 40px;
      height: 40px;
    }
    &__main {
      padding: 16px 16px 16px 16px;
    }
    &__paragraph {
      @include listParagraphMobileBig;
      font-weight: 300;
      margin: 0;
      &--link {
        @include gitLink;
        padding-right: 10px;
        margin: 0;
      }
      &--link2 {
        @include gitLink;
        padding-left: 48px;
        padding-right: 48px;
        border-right: solid 2px $middlegrey;
      }
    }
    &__nav {
      &--list1 {
        margin: 0;
        padding-top: 8px;
        height: 48px;
        grid-column: 1/2;
      }
      &--list2 {
        margin: 0;
        padding-top: 8px;
        height: 48px;
        grid-column: 2/2;
        place-self: center;
      }
    }
  }

  .footer {
    @include outBoxMobileBig;
    padding: 0 8px;
    &__decoline {
      width: 40px;
    }
    &__box {
      @include inBoxMobileBig;
      @include gridMobile1;
      padding: 60px 0 60px 16px;
    }
    &__heading2 {
      @include heading2MobileBig;
    }
    &__paragraph {
      @include paragraphMobileBig;

      &--FB {
        @include heading3MobileBig;
        width: 300px;
        width: fit-content;
      }
    }
  }
}



// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> iphone X  to XSmax resolutions  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
// *******************************************************************************************************************************************************
// *******************************************************************************************************************************************************
// *******************************************************************************************************************************************************
// *******************************************************************************************************************************************************

@media screen and (min-width: 550px) and (max-width: 650px) {
  body {
    background-color: $white;
    border: none;
   max-width: 650px;
  }
 

  .header {
    &__heading1 {
      @include heading1MobileBig;
    }
    &__heading3 {
      @include heading3MobileBig;
      &--frame {
        width: 370px;
      }
    }
    &__paragraph {
      @include paragraphMobileBig;
      color: $darkgrey;
    }
  }

  .hero {
    width: $heroMobileBig;
    margin: auto;
    margin-top: 66px;
    padding: 0 4px;
  }

  .skills {
    @include outBoxMobileBig2;
    padding-left: 16px;
    margin-top: 120px;
    &__box {
      @include flex1;
      margin-bottom: 32px;
    }
    &__list {
      @include grid3MobileBig;
      padding-top: 16px;
      padding-left: 0;
      list-style: none;
      &--item {
        @include listParagraphMobileBig;
      }
    }
    &__decoline {
      width: 40px;
      border-radius: 8px;
      &--box {
        @include outBoxMobileBig2;
        @include grid2;
      }
    }
    &__paragraph {
      @include heading2MobileBig;
      margin-bottom: 0;
      color: $darkblue;
      &--line {
        margin-bottom: 60px;
      }
    }
  }

  .projects {
    @include outBoxMobileBig2;
    display: flex;
    flex-flow: column wrap;
    margin-top: 84px;
    padding-bottom: 64px;
    &__box {
      @include inBoxMobileBig2;
      @include gridMobile1;
      padding-bottom: 64px;
      padding-left: 16px;
    }
    &__github {
      @include inBoxMobileBig3;
    }
    &__heading2 {
      @include heading2MobileBig;
      grid-column: 1/2;
    }

    &__paragraph {
      @include paragraphMobileBig;
      grid-column: 1/2;
    }
  }

  .api {
    &__footer {
      @include grid4;

      height: 48px;
    }
    &__heading4 {
      @include heading4;
      margin: 16px 0 8px 0;
    }
    &__list {
      @include gridMobile1;
      margin: auto;
      column-gap: 16px;
      row-gap: 32px;
      &--element {
        border-radius: 24px;
        width: 500px;
        height: 222px;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
      }
    }
    &__logo {
      width: 40px;
      height: 40px;
    }
    &__main {
      padding: 16px 16px 16px 16px;
    }
    &__paragraph {
      @include listParagraphMobileBig;
      font-weight: 300;
      margin: 0;
      &--link {
        @include gitLink;
        padding-right: 10px;
        margin: 0;
      }
      &--link2 {
        @include gitLink;
        padding-left: 8px;
        padding-right: 16px;
        border-right: solid 2px $middlegrey;
      }
    }
    &__nav {
      &--list1 {
        margin: 0;
        padding-top: 8px;
        height: 48px;
        grid-column: 2/3;
      }
      &--list2 {
        margin: 0;
        padding-top: 8px;
        height: 48px;
        grid-column: 3/3;
        place-self: center;
      }
    }
  }

  .footer {
    @include outBoxMobileBig2;
    padding: 0 8px;
    &__decoline {
      width: 40px;
    }
    &__box {
      @include inBoxMobileBig3;
      @include gridMobile1;
      padding: 60px 0 60px 24px;
    }
    &__heading2 {
      @include heading2MobileBig;
    }
    &__paragraph {
      @include paragraphMobileBig;

      &--FB {
        @include heading3MobileBig;
        width: 300px;
        width: fit-content;
      }
    }
  }
}



// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> iphone X  to iPad resolutions  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
// *******************************************************************************************************************************************************
// *******************************************************************************************************************************************************
// *******************************************************************************************************************************************************
// *******************************************************************************************************************************************************

@media screen and (min-width: 650px) and (max-width: 1100px) {
  body {
    background-color: $white;
    border: none;
   max-width: 1100px;
   border: 8px solid #171f3f;
  }
  

  .header {
    &__heading1 {
      @include heading1MobileBig;
    }
    &__heading3 {
      @include heading3MobileBig;
      &--frame {
        width: 370px;
      }
    }
    &__paragraph {
      @include paragraphMobileBig;
      color: $darkgrey;
    }
  }

  .hero {
    width: $heroMobileBig;
    margin: auto;
    margin-top: 66px;
    padding: 0 4px;
  }

  .skills {
    @include outBoxDesktopSmall;
    padding-left: 16px;
    margin-top: 120px;
    &__box {
      @include flex1;
      margin-bottom: 32px;
    }
    &__list {
      @include grid3MobileBig;
      padding-top: 16px;
      padding-left: 0;
      list-style: none;
      &--item {
        @include listParagraphMobileBig;
      }
    }
    &__decoline {
      width: 40px;
      border-radius: 8px;
      &--box {
        @include outBoxDesktopSmall;
        @include grid2;
      }
    }
    &__paragraph {
      @include heading2MobileBig;
      margin-bottom: 0;
      color: $darkblue;
      &--line {
        margin-bottom: 60px;
      }
    }
  }

  .projects {
    @include inBox2DesktopSmall;
    display: flex;
    flex-flow: column wrap;
    margin-top: 84px;
    padding-bottom: 64px;
    &__box {
      @include inBoxDesktopSmall;
      @include grid2;
      padding-bottom: 64px;
      padding-left: 16px;
    }
    &__github {
      @include inBoxDesktopSmall;
    }
    &__heading2 {
      @include heading2MobileBig;
      grid-column: 1/2;
    }

    &__paragraph {
      @include paragraphMobileBig;
      grid-column: 1/2;
    }
  }

  .api {
    &__footer {
      @include grid4;

      height: 48px;
    }
    &__heading4 {
      @include heading4;
      margin: 16px 0 8px 0;
    }
    &__list {
      @include grid2;
      margin: auto;
      column-gap: 16px;
      row-gap: 32px;
      &--element {
        border-radius: 24px;
        width: 400px;
        height: 222px;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
      }
    }
    &__logo {
      width: 40px;
      height: 40px;
    }
    &__main {
      padding: 16px 16px 16px 16px;
    }
    &__paragraph {
      @include listParagraphMobileBig;
      font-weight: 300;
      margin: 0;
      &--link {
        @include gitLink;
        padding-right: 8px;
        padding-left: 2px;
      
        margin: 0;
      }
      &--link2 {
        @include gitLink;
 
        border-right: solid 2px $middlegrey;
      }
    }
    &__nav {
      &--list1 {
        margin: 0;
        padding-top: 8px;
        height: 48px;
        grid-column: 2/3;
      }
      &--list2 {
        margin: 0;
        padding-top: 8px;
        height: 48px;
        grid-column: 3/3;
        place-self: center;
      }
    }
  }

  .footer {
    @include inBox2DesktopSmall;
    padding: 0;
    &__decoline {
      width: 40px;
    }
    &__box {
      @include inBoxDesktopSmall;
      @include grid2;
      padding: 60px 16px 60px 16px;
    }
    &__heading2 {
      @include heading2MobileBig;
    }
    &__paragraph {
      @include paragraphMobileBig;

      &--FB {
        @include heading3MobileBig;
        width: 300px;
        width: fit-content;
      }
    }
  }
}